/* The Critique Stylesheet */

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #f2f2f2;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

header h1 {
  margin: 0;
}

nav {
  display: flex;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: black;
  border-bottom: 1px solid blue;
  padding-bottom: 2px;
  transition: all 0.2s ease-in-out;
}

nav a:hover {
  color: blue;
  border-bottom: 2px solid blue;
  padding-bottom: 3px;
  transition: all 0.2s ease-in-out;
}

main {
  padding: 20px;
}

article {
  margin-bottom: 20px;
}

article img {
  width: 100%;
}

#index{
  max-width: 50%;
}

.author {
  font-style: italic;
  margin-top: 10px;
}

.date {
  font-size: 0.8em;
  margin-top: 5px;
  color: #666;
}

.categories {
  font-size: 0.8em;
  margin-top: 10px;
  color: #666;
}

.categories a {
  text-decoration: none;
  color: #666;
  margin-right: 10px;
}

.category-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.category-list li {
  margin-bottom: 10px;
}

.category-list a {
  text-decoration: none;
  color: black;
  font-size: 1.2em;
  font-weight: bold;
  border-bottom: 1px solid blue;
  padding-bottom: 2px;
  transition: all 0.2s ease-in-out;
}

.category-list a:hover {
  color: blue;
  border-bottom: 2px solid blue;
  padding-bottom: 3px;
  transition: all 0.2s ease-in-out;
}

footer {
  background-color: #f2f2f2;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

footer p {
  margin: 0;
}

footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

footer ul li {
  margin-right: 20px;
}

footer a {
  text-decoration: none;
  color: black;
}

footer a:hover {
  color: blue;
}
